

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color-button: rgb(0, 97, 255);
    --color-hero: rgb(180, 208, 230);
    --color-box1esterno: rgb(209, 234, 205);
    --color-box1interno: rgb(162, 211, 155);
    --color-asu: rgb(98, 8, 44);
    --color-florida: rgb(1, 147, 206);
    --color-topps: rgb(255, 28, 29);
    --color-wbr: rgb(213, 0, 30);
    --color-lp: rgb(13, 36, 129);
    --color-ccoutdoor: rgb(255, 217, 48);
    --color-black: rgb(0, 0, 0);
    --color-white: #ffffff;
    --color-lightgrey: rgb(245, 245, 245);
}




button {
    background-color: var(--color-button);
    color: var(--color-white);
    padding: 5px 10px;
    
}

.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0px 10px;
}

.container-piccolo {
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 10px;
}

.margin20 {
    margin-bottom: 20px;
}

.margin30 {
    margin-bottom: 30px;
}

.margintop {
    margin-top: 20px;
}


/*FLEX*/
.a-flex {
    display: flex;
    flex-direction: row;
}



.justify-between {
    justify-content: space-between;
}

.align-center {
    align-items: center;
    align-content: center;
}

.aling-start {
    align-items: flex-start;
    align-content: flex-start;
}




/*NAV*//*HEADER*/
header {
    height: 50px;
    background-color: var(--color-white);
    width: 100%;
    position: fixed;
    background-color: var(--color-white);
    z-index: 1000;
    padding: 10px;
    border-bottom: 2px solid black;
}

nav {
    height: 100%;
}

nav a {
    text-decoration: none;
    color: var(--color-black);
    font-size: 1.2em;
    padding: 6px 10px;
}


ul {
    list-style: none;
}

.imglogo {
    padding: 0px 10px;
    
}

.flexnav {
    display:flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    align-content: center;
}



/*MAIN*/

.arrow {
    font-size: 2em;
}

.titolo {
    font-size: 5em;
    padding: 15px 0px;
}

.titolo2 {
    font-size: 3em;
}

h2 {
    font-size: 2em;
}

.hero-left {
    width: 40%;
}

.hero-right {
    width: 60%;
}

.hero {
    padding-top: 70px;
    background-color: var(--color-hero);
    position: relative;
    margin-bottom: 150px;
}

.jumbo {
   width: 40%;
    position: absolute;
}

/*CARD*/

.card {
    width: 30%;
    border: 1px solid black;
    
}

.card-top {
    text-align: center;
    padding: 10px ;
    border-bottom: 1px solid black;
}

.card-body {
    padding: 10px;
}

.list-icon {
    text-indent: -0.6em;
    margin: 20px;
}

.checked {
    color: var(--color-button);
}

li {
    margin:10px 0;
}


/*enterprise*/
    .border {
        border: 1px solid black;
    }



/*foto+descrizione*/
.partner {
    width: 100%;
}

.partner-left {
    width: 65%;
}

.partner-right {
    width: 35%;
   text-align: left;
   padding-top: 100px;
   margin-left: 20px;
}

.btn {
    background-color: var(--color-white);
    color: var(--color-black);
}

/*immagini*/


.funcard {
    width: calc(100% / 3);
    padding-right: 10px;
    
}

.imgfun {
    width: 100%;
}

.funwrapper {
 
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-content: flex-start;
}

/*box*/
.box-wrap {
    width: calc(100% / 3);
    height: calc(100vw / 3);
    display: flex;
    flex-wrap: wrap;
}    
    




.brand {
    width: 50%;
    height: 50%;
    position: relative;
}    


.brand img {
    width: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    filter:invert(100%);
}    
    
   



.box1 {
    background-color: var(--color-box1interno);
   
    border: 10px solid var(--color-box1esterno);
}




.box2 {
    background-color: var(--color-asu);
}



.box3 {
    background-color: var(--color-florida);
}



.box4 {
    background-color: var(--color-topps);
}


.box5 {
    background-color: var(--color-lightgrey);
}

.img5 {
    width: 40%;
    margin-left: 30px;
    margin-top: 30px;
}

.centertex {
    text-align: left;
    margin: 30px;
}

.box6 {
    background-color: var(--color-wbr);
}

.box7 {
    background-color: var(--color-hero);
}

.box8 {
    background-color: var(--color-lp);
}

.box9 {
    background-color: var(--color-ccoutdoor);
}

/*business*/


.business {
    background-color: var(--color-hero);
    padding: 100px;
}


/*FOOTER*/

footer {
    background-color: var(--color-black);
    color: var(--color-white);
    padding: 30px;
}

footer a {
    text-decoration: none;
    color: var(--color-white);
}

select {
    background-color: var(--color-black);
    color: var(--color-white);
    margin-top: 20px;
}

