.debug {
    border: 1px solid green;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color-button: rgb(0, 97, 255);
    --color-hero: rgb(180, 208, 230);
    --color-box1esterno: rgb(209, 234, 205);
    --color-box1interno: rgb(162, 211, 155);
    --color-asu: rgb(98, 8, 44);
    --color-florida: rgb(1, 147, 206);
    --color-topps: rgb(255, 28, 29);
    --color-wbr: rgb(213, 0, 30);
    --color-lp: rgb(13, 36, 129);
    --color-ccoutdoor: rgb(255, 217, 48);
    --color-black: rgb(0, 0, 0);
    --color-white: #ffffff;
}

a {
    text-decoration: none;
    color: var(--color-black);
    padding: 5px;
}

button {
    background-color: var(--color-button);
    color: var(--color-white);
    padding: 3px 10px;
    margin: 10px;
}

.container{
    max-width: 1000px;
    margin: 0 auto;
    padding: 0px 10px;
}


/*FLEX*/
.a-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.flexheader{
    display:flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
}




/*NAV*/
nav {
    height: 50px;
    background-color: var(--color-white);
    width: 100%;
   
}

.imglogo {
    padding: 0px 10px;
}



/*HEADER*/

header {
    background-color: var(--color-hero);
    position: relative;
}

.jumbo {
    width: 70%;
    margin-top: 20px;
    
}

.descrizione {
   
}


/*MAIN*/




/*FOOTER*/